.w-600 {
    width: 600px;
}
.w-300 {
    width: 300px;
}
header, main, footer {
    padding: 5px;
}
header .logo {
    width: 75px;
}
header .profile {
    cursor: pointer;
}
header .profile img {
    width: 45px;
}
main form .row {
    margin-bottom: 10px;
}
form .invalid {
    border: 2px solid red;
    box-shadow: 0 0 5px red;
}
form .field-error-msg {
    margin: 0;
    color: red;
    font-size: 80%;
}

.tpl-select-user .user {
    width: 200px;
    height: 130px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer
}
.tpl-select-user .user:hover {
    box-shadow: 0 0 5px lightskyblue;
}
.tpl-select-user .user img {
    width: 75px;
}