.w-600 {
    width: 600px;
}
.w-300 {
    width: 300px;
}
header, main, footer {
    padding: 5px;
}
header .logo {
    width: 75px;
}
header .profile img {
    width: 45px;
}
main form .row {
    margin-bottom: 10px;
}
form .invalid {
    border: 2px solid red;
    box-shadow: 0 0 5px red;
}
form .field-error-msg {
    margin: 0;
    color: red;
    font-size: 80%;
}